@import "tailwindcss";

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle at center, rgba(255, 137, 235, 0.8), rgb(255, 137, 235) 70%);
  animation: moveGradient 10s ease-in-out infinite alternate;
}

@keyframes moveGradient {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 40% 60%;
  }

  100% {
    background-position: 50% 50%;
  }
}